<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
            src="https://kit.fontawesome.com/68dda164c0.js"
            crossorigin="anonymous"
    ></script>
</head>
<link rel="stylesheet" href="boardmain.css" />

<body>
    <div th:replace="include/topinclude"></div>

    <aside id="aside1">
        <div class="list">
            내과
        </div>
        <div class="list">
            내과
        </div>
        <div class="list">
            내과
        </div>
        <div class="list">
            내과
        </div>
        <div class="list">
            내과
        </div>
    </aside>
    <section>
        <div id="boardheader">게시판</div>
        <div id="boardmenu">
            <span><a href="#">오늘의 건강</a> |</span>
            <span><a href="#">캠페인</a>  |</span>
            <span><a href="#">의료기기</a>  |</span>
            <span><a href="#">자유게시판</a></span>
        </div>
        <div>
            <form action="bboard/submitwrite" method="get">
                <table id="boardtable">
                    <thead>
                        <tr>
                            <td width="10%">글 번호</td>
                            <td width="15%">작성자</td>
                            <td width="35%">제목</td>
                            <td width="20%">작성일</td>
                            <td width="10%">조회수</td>
                            <td width="10%">좋아요</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="boardvo:${noticelist}">
                            <td>공지사항</td>
                            <td>운영진</td>
                            <td th:text="${boardvo.board_title}"></td>
                            <td th:text="${#strings.substring(boardvo.board_date,0,10)}"></td>
                            <td th:text="${boardvo.board_viewcount}"></td>
                            <td th:text="${boardvo.board_goodcount}"> </td>
                        </tr>
                        <tr th:each="boardvo:${boardlist}">
                            <td th:text="${boardvo.board_sequence}"></td>
                            <td th:text="${boardvo.board_user_id}"></td>
                            <td >
                                <a th:text="${boardvo.board_title}" th:href="@{detail(no=${boardvo.board_sequence})}"></a>
                            </td>
                            <td th:text="${#strings.substring(boardvo.board_date,0,10)}"></td>
                            <td th:text="${boardvo.board_viewcount}"></td>
                            <td th:text="${boardvo.board_goodcount}"></td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <span th:if= "${pageVO.prev}">
                                    <a th:href="@{bboard_health(page=${pageVO.startPage})}">[이전]</a>
                                </span>
                                <span th:each="idx:${#numbers.sequence(pageVO.startPage,pageVO.endPage)}">
                                    <a th:text="${idx}" th:href="@{bboard_health(page=${idx})}"></a>
                                </span>
                                <span th:if="${pageVO.next}">
                                    <a th:href="@{bboard_health(page=${pageVO.endPage+1})}">[다음]</a>
                                </span>
                            </td>

                        </tr>
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td><a href="#">sample</a></td>-->
<!--                            <td>2024.11.21</td>-->
<!--                            <td>0</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td><a href="#">sample</a></td>-->
<!--                            <td>2024.11.21</td>-->
<!--                            <td>0</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td><a href="#">sample</a></td>-->
<!--                            <td>2024.11.21</td>-->
<!--                            <td>0</td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td>1</td>-->
<!--                            <td><a href="#">sample</a></td>-->
<!--                            <td>2024.11.21</td>-->
<!--                            <td>0</td>-->
<!--                        </tr>-->

                        <tr>
                            <td colspan="6" style="float: left">
                                <input type="submit" value="글 쓰기">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

    </section>
    <aside id="aside2">

    </aside>
    <footer id="ad">
        <h1>광고</h1>
    </footer>
    <footer id="footer">
        <h1>footer</h1>
    </footer>

</body>
</html>