<header>
  <div id="logo">
    <a  href="home"><img src="logo_new1.png" width="300px" height="100%"></a>
  </div>

  <div id="header">Hospital Reservation</div>
</header>
<div id="search">
  <form action="search?keyword" method="get">
    <input id="search-input" type="search" placeholder="병원을 검색하세요" name="keyword">
    <input id="search-button" type="submit" value="검색">
  </form>
</div>
<div id="login">
  <span><a href="login">로그인<i class="fa-solid fa-right-to-bracket"></i></a>   |</span>
  <span><a href="/asklepios/userjoin">회원가입<i class="fa-solid fa-user-plus"></i></a></span>
</div>
<div class="con">
  <nav class="top-bar__menu-box-1">
    <ul>
      <li>
        <a href="#">병원목록</a>
        <ul>
          <li><a href="#">내과</a></li>
          <li><a href="#">이비인후과</a></li>
          <li><a href="#">정형외과</a></li>
          <li><a href="#">성형외과</a></li>
          <li><a href="#">정신건강의학과</a></li>
          <li><a href="#">피부과</a></li>
          <li><a href="#">안과</a></li>
          <li><a href="#">소아청소년과</a></li>
          <li><a href="#">산부인과</a></li>
          <li><a href="#">비뇨기과</a></li>
          <li><a href="#">외과</a></li>
        </ul>
      </li>
      <li>
        <a href="#">예약신청</a>
        <ul>
          <li><a href="#">text1</a></li>
          <li><a href="#">text2</a></li>
          <li><a href="#">text3</a></li>
          <li><a href="#">text4</a></li>
        </ul>
      </li>
      <li>
        <a href="#">백신정보</a>
        <ul>
          <li><a href="#">text1</a></li>
          <li><a href="#">text2</a></li>
          <li><a href="#">text3</a></li>
          <li><a href="#">text4</a></li>
        </ul>
      </li>
      <li>
        <a href="bboard_all">게시판</a>
        <ul>
          <li><a href="bboard_all">모든 글</a></li>
          <li><a href="bboard_health">오늘의 건강</a></li>
          <li><a href="bboard_campaign">캠페인</a></li>
          <li><a href="bboard_med">의료정보</a></li>
          <li><a href="bboard_free">자유게시판</a></li>
        </ul>
      </li>
    </ul>
  </nav>

</div>