<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .quickMenu {
        width: 200px;
        /*height: 500px;*/
        position: sticky;
        float: right;
        /*border: 1px black solid;*/
    }
    .profileImage {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        overflow: hidden;
        margin-top: 20px;
        margin-inline: auto;
    }
</style>
<body>
    <aside class="quickMenu">
        <div class="bg-green-500 border border-gray-200 rounded-lg shadow dark:bg-green-800 dark:border-gray-700">
            <div class="profileImage">
                <a href="myPage">
                    <img src="../../static/defaultImage.png" alt="기본 프로필">
                </a>
            </div>
            <div class="p-5">
                <hr style="margin-bottom: 10px">
                <h1>회원 정보</h1>
                <p style="font-size: 14px">회원 이름 : ${user_id}</p>
                <p style="font-size: 14px">이메일 : ${user_mail}</p>
                <hr style="margin-top: 10px; margin-bottom: 10px">
                <h1><a href="/reservation">예약 현황</a></h1>
                <p style="font-size: 14px">예약 대기 : ${}</p>
                <p style="font-size: 14px">예약 승인 : ${}</p>
                <hr style="margin-top: 10px; margin-bottom: 10px">
                <a href="/myPage">마이페이지</a>
                <hr style="margin-top: 10px; margin-bottom: 10px">
                <a href="/reservation">예약하기</a>
                <hr style="margin-top: 10px; margin-bottom: 10px">
                <a href="/vaccinationInfo">백신정보</a>
                <hr style="margin-top: 10px; margin-bottom: 10px">
                <a href="/hospitalInfo">병원검색</a>
                <hr style="margin-top: 10px; margin-bottom: 10px">
            </div>
        </div>
    </aside>
</body>
</html>