<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asklepios.hospitalreservation_asklepios.Repository.IF_SearchMapper">
  <select id="selectHospital" parameterType="String" resultType="com.asklepios.hospitalreservation_asklepios.VO.Hospital_doctorVO">
    select *,group_concat(user_doctor_medical) as medicals from hospital_doctor where hospital_name like concat('%',#{name},'%')
  </select>
  <select id="selectInfo" resultType="com.asklepios.hospitalreservation_asklepios.VO.Hospital_doctorVO">
    select *,group_concat(user_doctor_medical) as medicals, group_concat(user_name) as names,
             group_concat(user_doctor_career) as careers, group_concat(user_doctor_graduate) as graduates,
             group_concat(user_image) as images, group_concat(user_doctor_code) as codes
    from  hospital_doctor
    where hospital_name like concat('%',#{name},'%')
                                     or hospital_addr like concat('%',#{name},'%')
                                     or user_doctor_medical like concat('%',#{name},'%')
    group by hospital_code
  </select>
    <select id="selectReview" resultType="com.asklepios.hospitalreservation_asklepios.VO.ReviewVO">
        select * from review where review_hospital_code=#{hospital_code}
    </select>
    <select id="avgScore" resultType="int">
        select truncate(avg(review_score),1) from review where review_hospital_code=#{hospitalCode};
    </select>
    <select id="selectGenderData" resultType="com.asklepios.hospitalreservation_asklepios.VO.ChartVO">
        select ru.*
        from (select r.*, u.*, substring(u.user_register_number,8,1) as gender
              from reservation as r
                       left outer join users as u
                                       on r.reservation_user_id=u.user_id) as ru
        where reservation_hospital_code=#{hospital_code}
    </select>
    <select id="selectTimeData" resultType="com.asklepios.hospitalreservation_asklepios.VO.ChartVO">
        select ru.reservation_time, ru.reservation_accept ,count(*) as count
        from (select r.*, u.*, substring(u.user_register_number,8,1) as gender
            from reservation as r
            left outer join users as u
            on r.reservation_user_id=u.user_id) as ru
        where ru.reservation_hospital_code=#{hospital_code}
        group by ru.reservation_time, ru.reservation_accept
        order by ru.reservation_time asc
    </select>
</mapper>
