<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InsertCommonInfo</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../../static/CSS/font.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<style>
    body {
        width: 1920px;
        font-family: Pretendard,Serif,sans-serif;

        box-sizing: border-box;
        border: 1px black solid;
    }
    .insertContent {
        width: 20%;
        height: 80px;
    }
    .insertValue {
        width: 80%;
        height: 80px;
    }
    .tableSet {
        display: flex;
        justify-content: center;
        /*border: 1px black solid;*/
    }
    table {
        width: 40%;
        /*border: 1px black solid;*/
    }
    table tr td input {
        width: 100%;
        height: 70px;
        border-radius: 10px;
    }
    table tr td {
        /*border: 1px black solid;*/
        height: 100px;
    }
    .sheet {
        background-color: gray;
        border-radius: 50%;
        width:120px;
        height: 120px;
        align-content: center;
        text-align: center;
        font-size: 18px;
    }
</style>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }
    function checkInfo(submit) {
        console.log("안녕하세요");
        let firstEngName;
        let lastEngName;
        let totalEngName = "";
        firstEngName = document.getElementById('user_first_name_eng').value;
        lastEngName = document.getElementById('user_last_name_eng').value;
        totalEngName = "안녕하세요";
        console.log(totalEngName);
        console.log("Hello World")
        document.getElementsByName('user_name_eng').value=String(totalEngName);
        console.log(document.getElementsByName('user_name_eng').value);

        let totalRegisterNumber;
        totalRegisterNumber = document.getElementById('user_register_first_number') + '-' + document.getElementById('user_register_second_number');
        document.getElementsByName('user_register_number').innerText=totalRegisterNumber;

    }
</script>
<body>
<h1 style="font-size: xx-large; text-align: center">회원 정보 입력</h1>
    <form action="/asklepios/commoninfo" method="post" onsubmit="return checkInfo()" id="submit">
<!--    <form action="#" method="get" onsubmit="return checkInfo(this)">-->
        <div class="tableSet">
            <table>
                <tr>
                    <td style="width: 20%">
                        <label for="user_id" class="mx-auto block font-medium text-gray-900 dark:text-white">아이디<span style="color: red">(*)</span></label>
                    </td>
                    <td>
                        <input type="text"  id="user_id" name="user_id" class="mx-auto block bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="사용하실 아이디를 입력하시오.">
                    </td>
                <tr>
                    <td style="width: 20%">
                        <label for="user_password" class="mx-auto block font-medium text-gray-900 dark:text-white">비밀번호<span style="color: red">(*)</span></label>
                    </td>
                    <td class="insertValue">
                        <input type="password" id="user_password" name="user_password" class="mx-auto block bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="사용하실 비밀번호를 입력하시오.">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_passwordVerify" class="mx-auto block font-medium text-gray-900 dark:text-white">비밀번호 확인<span style="color: red">(*)</span></label>
                    </td>
                    <td class="insertValue">
                        <input type="password" id="user_passwordVerify" class="mx-auto block bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="사용하실 비밀번호를 입력하시오.">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_name" class="mx-auto block font-medium text-gray-900 dark:text-white">사용자 이름<span style="color: red">(*)</span></label>
                    </td>
                    <td class="insertValue">
                        <input type="text" id="user_name" name="user_name" class="mx-auto block bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="사용자 이름을 입력하시오.">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_first_name_eng" class="mx-auto block font-medium text-gray-900 dark:text-white">사용자 이름(영문)<span style="color: red">(*)</span></label>
                    </td>
                    <td>
                        <input type="text" id="user_first_name_eng" title="EnglishName_First" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="First Name" style="width: 49%">
                        <input type="text" id="user_last_name_eng" title="EnglishName_Last" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="Last Name" style="width: 50%">
                        <input type="hidden" name="user_name_eng" value="">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_register_first_number" class="mx-auto block font-medium text-gray-900 dark:text-white">주민등록번호<span style="color: red">(*)</span></label>
                    </td>
                    <td>
                        <input type="text" id="user_register_first_number" title="주민등록번호 앞자리" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="주민등록 앞자리" style="width: 46%">
                        <span>&nbsp-&nbsp</span>
                        <input type="password" id="user_register_second_number" title="주민등록번호 뒷자리" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="주민등록 뒷자리" style="width: 50%">
                        <input type="hidden" name="user_register_number" value="">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_tel_first_number" class="mx-auto block font-medium text-gray-900 dark:text-white">전화번호<span style="color: red">(*)</span></label>
                    </td>
                    <td>
                        <input type="text" id="user_tel_first_number" name="user_tel_first_number" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="010" style="width: 25%">
                        <span>-</span>
                        <input type="text" id="user_tel_second_number" name="user_tel_second_number" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="0000" style="width: 35%">
                        <span>-</span>
                        <input type="text" id="user_tel_third_number" name="user_tel_third_number" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="0000" style="width: 35%">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_email_address" class="mx-auto block font-medium text-gray-900 dark:text-white">전화번호<span style="color: red">(*)</span></label>
                    </td>
                    <td>
                        <input type="text" id="user_email_address" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="010" style="width: 25%">
                        <span>@</span>
                        <input type="text" id="user_email_domain" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="0000" style="width: 35%">
                        <input type="hidden" name="user_email" value="">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label class="mx-auto block font-medium text-gray-900 dark:text-white">주소<span style="color: red">(*)</span></label>
                    </td>
                    <td>
                        <input type="text" id="sample6_postcode" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="우편번호" style="width: 49.5%">
                        <input type="button" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" style="width: 49.5%">
                        <input type="text" id="sample6_address" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="주소">
                        <input type="text" id="sample6_detailAddress" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="상세주소">
                        <input type="text" id="sample6_extraAddress" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" placeholder="참고항목">
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_authority" class="mx-auto block font-medium text-gray-900 dark:text-white">사용자 구분<span style="color: red">(*)</span></label>
                    </td>
                    <td>
                        <select name="user_authority" id="user_authority" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none" style="width: 100%">
                            <option value="doctor">의사</option>
                            <option value="client">일반</option>
                            <option value="admin">관리자</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_info_agreement" class="mx-auto block font-medium text-gray-900 dark:text-white">이용약관 및 <br>제3자 정보 제공 동의</label>
                    </td>
                    <td>
                        <input type="text" id="user_info_agreement" name="user_info_agreement" style="text-align: center; font-weight: bold; color: #1e40af" value="agree" readonly>
                    </td>
                </tr>
                <tr>
                    <td style="width: 20%">
                        <label for="user_image" class="mx-auto block font-medium text-gray-900 dark:text-white">사용자 이미지<br>(300*400)</label>
                    </td>
                    <td>
                        <input type="file" name="user_image" id="user_image" class="mx-auto bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 mx-20 p-5 focus:ring-2 focus:outline-none">
                    </td>
                </tr>
            </table>
        </div>
        <div style="text-align: center">
            <button type="submit" class="bg-blue-800 rounded-lg w-48 h-12 my-10 text-white"  style="font-size: 18px;"><strong>  다음 →</strong></button>
        </div>
    </form>
    <br>
    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 100px">
        <div style="text-align: center;">
            <div class="sheet" style="background-color: #1e40af; color: white">
                <p><strong>약관 동의</strong></p>
            </div>
        </div>
        <div style="width: 50px; border: 1px solid gray"></div>
        <div style="text-align: center">
            <div class="sheet">
                <p><strong>본인 인증</strong></p>
            </div>
        </div>
        <div style="width: 50px; border: 1px solid gray"></div>
        <div style="text-align: center">
            <div class="sheet">
                <p><strong>회원 가입</strong></p>
            </div>
        </div>
        <div style="width: 50px; border: 1px solid gray"></div>
        <div style="text-align: center">
            <div class="sheet">
                <p><strong>추가 작성</strong></p>
            </div>
        </div>
    </div>

</body>
</html>