header{
    /*padding-top: 40px;*/
    width: 100%;
    height: 150px;
    border: 1px solid;

    box-sizing: border-box;
}
#header{
    /*border: 1px solid;*/
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
}
#logo{
    margin-left: 100px;
    height: 100%;
    float: left;
    display: inline-block;

}

#login{
    font-size: 30px;
    margin-top: 40px;
    margin-right: 50px;
    display: inline-block;
    float: right;

}
body{
    width: 1920px;
    height: 1600px;
    border: 1px solid;
}

#aside1 {
    width: 300px;
    height: 1200px;
    border: 1px solid;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}
.list{
    text-align: center;
    height: 80px;
    font-size: 20px;
    border: 1px solid;
}
section{
    margin-left: 50px;
    width: 1000px;
    height: 1200px;
    border: 1px solid;
    float: left;
    margin-top: 10px;
}
#aside2 {
    width: 300px;
    height: 1200px;
    border: 1px solid;
    float: left;
    margin-left: 50px;
    margin-top: 10px;
}
#ad{
    width: 100%;
    display: inline-block;
    height: 150px;
    border: 1px solid;
    margin-top: 100px;


}
#footer{
    width: 100%;
    display: inline-block;
    height: 300px;
    margin-top: 100px;
}
body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;		/* 해당 태그의 list-style을 none으로 하는 것으로 ●을 제거한다 */
}


a {
    color: inherit;		/* 부모 엘리먼트의 값을 물려받는다 */
    text-decoration: none;	/* 해당 태그의 text-decoration을 none으로 하는 것으로 밑줄을 제거한다 */
}

/*.con {*/
/*    */
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*}*/
:root {
    --site-width: 1200px;
}
.con-min-width {
    min-width: var(--site-width);
}

.top-bar > .con {
    width: var(--site-width);
}

/* 드롭다운 메뉴 시작 */
.top-bar__menu-box-1 > ul ul {
    display: none;
}

.top-bar__menu-box-1 > ul > li {
    display: inline-block;
}

.top-bar__menu-box-1 {
    text-align: center;
    margin-top: 60px;
}

.top-bar__menu-box-1 ul {
    background-color: #3B82F6;
    color: white;
}

.top-bar__menu-box-1 ul > li > a {
    display: block;
    font-size: 1.5rem;
    padding: 10px 50px;
}

.top-bar__menu-box-1 ul > li:hover > a {
    background-color: #555;
}

.top-bar__menu-box-1 > ul > li {
    position: relative;
}

.top-bar__menu-box-1 > ul > li > ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.top-bar__menu-box-1 > ul > li:hover > ul {
    display: block;
}

.top-bar__menu-box-1 > ul {
    border-radius: 20px;
}
.top-bar__menu-box-1 > ul > li > ul >li>a {
    font-size: 0.8rem;
}
section{
    padding: 10px;
    /*text-align: center;*/
}

#boardheader{
    display: block;
    margin-top: 80px;
    font-size: 40px;
    margin-left: 100px;
}
#boardmenu a:active{
    color: crimson;
}


#boardmenu{
    margin-top: 70px;
    text-align: center;
    font-size: 25px;
}


#boardtable{
    margin: auto;
    width: 700px;
    border-radius: 5px;
    border-collapse: collapse;
    border-top: none;
}
#boardtable td, .table th{
    border-bottom: 1px lightgray solid;
    height: 30px;
    font-size: 14px;
}
#boardtable thead{
    background-color: rgb(218, 231, 255);
    height: 40px;
}
#boardtable td{
    text-align: center;
}
#boardtable input{
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    outline: 1.5px rgb(68, 136, 244) solid;
    border-radius: 5px;
    padding-left: 10px;

    background-color: rgb(164, 199, 255);
}
#boardtable input:active {
    width: 100px;
    height: 40px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
    outline: 1.5px rgb(27, 76, 155) solid;
    padding-left: 10px;
    background-color: rgb(68, 136, 244);
}
.profileImage {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin-top: 20px;
    margin-inline: auto;
}
.search{
    margin-top: 30px;
    border: 1px solid;
    display: inline-block;
}
.search-input{
    width: 600px;
    height: 80px;
    border: 1px solid;
}
#search{
    margin-top: 50px;
    margin-left: 800px;
    /*border: 1px solid;*/
    display: inline-block;
    text-align: center;

}
#search-input{
    width: 400px;
    height: 40px;
    border: 2px solid #3B82F6;
    border-radius: 10px;
    padding-left: 10px;
}
#search-input::placeholder{
    text-align: center;
}

#search-button{
    margin-left: 30px;
    border: 1px solid;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: #3B82F6;
    color: white;
}
#search-header{
    margin-top: 50px;
    /*margin-left: 80px;*/
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}