<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://kit.fontawesome.com/68dda164c0.js"
      crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
  footer{
    height: 300px;
    width: 1920px;
    /*border: 1px solid;*/
  }
  li{
    list-style: none;
  }
  footer a{
    text-decoration: none;
    color: white;
  }
  p{
    font-size: 20px;
  }
</style>
<body>
  <footer style="background-color:#3b82f6; padding: 40px 0; color: white">
    <div style="max-width: 1850px; display: flex; justify-content:space-between; text-align:left; margin-left: 20px;">
      <div style="display: flex;">
        <span id="dynamite" class="text-white font-bold" style="font-size: 60px; align-content: center; margin-left: 30px;">ASKLEPIOS</span>
<!--        <div style="margin-left: 60px"><span><a href="#">회사소개 |</a></span><span><a href="#"> 이용약관</a></span></div>-->


        <div style="margin-left: 50px;">
          <h3 style="color: white; font-size: 30px; font-weight: bold">주소</h3>
          <p>경기도 수원시 팔달구 인계동 번지 신관 3층<br>
            208-5 KR 풍림빌딩 휴먼교육센터</p>
          <br>
          <h3 style="color: white; font-size: 30px; font-weight: bold">전화번호</h3>
          <p>031-239-5855</p>
        </div>
      </div>

      <div style="margin-right: 30px;">
        <span style="color: white; font-size: 30px; font-weight: bold; margin-bottom: 10px;">Github<i class="fa-brands fa-github"></i></span>
        <p style="text-align: left; font-size: 20px; padding-top: 5px; padding-bottom: 5px;">조준곤: <a href="https://github.com/Jungon-Jo">https://github.com/Jungon-Jo</a></p>
        <p style="text-align: left; font-size: 20px; padding-top: 5px; padding-bottom: 5px;">정지용: <a href="https://github.com/98jiyong">https://github.com/98jiyong</a></p>
        <p style="text-align: left; font-size: 20px; padding-top: 5px; padding-bottom: 5px;">임동준: <a href="https://github.com/NAGABARA">https://github.com/NAGABARA</a></p>
        <p style="text-align: left; font-size: 20px; padding-top: 5px; padding-bottom: 5px;">신태균: <a href="https://github.com/Taekyun131">https://github.com/Taekyun131</a></p>
      </div>
    </div>
    <p style="text-align:center; font-size: 25px; margin-top: 10px; color: white;">Corporate 2024. Asklepios. All Rights Reserved.</p>
  </footer>
</body>
</html>