<html xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
			src="https://kit.fontawesome.com/68dda164c0.js"
			crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<link rel="stylesheet" href="home.css" />

<body>
<div th:replace="~{include/topinclude}"></div>
<aside id="aside1">

</aside>
<section>

</section>
<aside id="aside2" th:insert="include/quickmenuinclude"></aside>
<footer id="ad">
	<h1>광고</h1>
</footer>
<footer id="footer">
	<h1>footer</h1>
</footer>

</body>
</html>