<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Join</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<style>
    body {
        width: 1000px;
        border: 1px black solid;
    }
    .textBox {
        width: 60%;
    }
</style>
<body class="mx-auto" style="margin-top: 50px">
    <h1 style="font-size: xx-large">이용약관 및 개인정보처리방침</h1>
    <br>
    <form action="provideInfoAgreement">
        <div>
            <input type="checkbox">
            이용약관, 개인정보 수집 및 이용, 개인정보 제3자 제공 동의에 모두 동의 합니다.
        </div>

        <div class="textBox">
            <input type="checkbox" value="사랑해요">
        </div>
    </form>
</body>
</html>