<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Asklepios</title>
  <link rel="icon" href="logo_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="home.css"/>
  <link rel="stylesheet" href="reservationAside.css"/>
  <link rel="stylesheet" href="registrationForm.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
</head>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="https://kit.fontawesome.com/9b855eea51.js" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<body>
<div th:replace="~{include/topinclude}"></div>
<div style="display:flex; float: left; width: 1920px;">
  <div style="display: inline-block;" th:replace="~{asideMenuTemplates/reservationAside}"></div>
  <div class="container1">
    <!--    onsubmit="return validateForm()"-->
    <form action="register" method="post" onsubmit="return validateForm()">
      <div class="title">Registration</div>
      <table>
        <tr class="small">
          <td class="td1">
            <div class="label">
              병원명<span style="color: red">(*)</span>
            </div>
          </td>
          <td class="td2">
            <div>
              <input type="text" name="hospital_name" id="hospital_name"
                    class="fillAuto bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none">
            </div>
          </td>
        </tr>
        <tr class="small">
          <td class="td1">
            <div class="label">
              주소<span style="color: red">(*)</span>
            </div>
          </td>
          <td class="td2">
            <div class="mb-3">
              <input type="text" id="sample6_postcode" class="addressInput bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none"
                     style="margin-right: 40px; text-align: center" placeholder="우편번호" readonly>
              <button type="button" class="addressInput bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none"
                      style="margin-right: 45px;" onclick="searchAddress()">우편번호 찾기</button>
              <button type="button" class="checkInput bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none"
                      onclick="duplicateHospital()">중복 확인</button>
            </div>
            <input type="text" id="address" class="fillAuto mb-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none" placeholder="주소" readonly>
            <input type="text" id="detailAddress" class="fillAuto mb-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none" placeholder="중복 확인 후 상세주소를 입력해주세요." readonly>
            <input type="text" name="hospital_addr" id="hospital_addr" hidden>
          </td>
        </tr>
        <tr class="small">
          <td class="td1">
            <div class="label">
              병원 연락처<span style="color: red">(*)</span>
            </div>
          </td>
          <td class="td2">
            <input type="text" name="addr_tel" id="tel1"
                  class="fillAuto bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none">
            <span class="hyphen">ㅡ</span>
            <input type="text" name="addr_tel" id="tel2"
                   class="fillAuto bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none">
            <span class="hyphen">ㅡ</span>
            <input type="text" name="addr_tel" id="tel3"
                   class="fillAuto bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none">
            <input type="text" name="hospital_tel" id="hospital_tel" hidden>
          </td>
        </tr>
        <tr class="small">
          <td class="td1">
            <div class="label">
              주말 근무 여부<span style="color: red">(*)</span>
            </div>
          </td>
          <td class="td2" style="display: flex; float: left; margin-top: 30px;">
            <div class="flex items-center" style="margin-right: 150px;" >
              <input checked id="default-radio-1" type="radio" value="y" name="default-radio" class="w-6 h-6 text-blue-500 bg-gray-100 border-gray-300">
              <label for="default-radio-1" class="ms-2 text-2xl font-medium text-gray-900 dark:text-gray-300">YES</label>
            </div>
            <div class="flex items-center">
              <input id="default-radio-2" type="radio" value="n" name="default-radio" class="w-6 h-6 text-blue-500 bg-gray-100 border-gray-300">
              <label for="default-radio-2" class="ms-2 text-2xl font-medium text-gray-900 dark:text-gray-300">NO</label>
              <input type="text" name="hospital_date" id="hospital_date" hidden>
            </div>
          </td>
        </tr>
        <tr class="small">
          <td class="td1">
            <div class="label">
              근무 시간<span style="color: red">(*)</span>
            </div>
          </td>
          <td class="td2">
            <div style="vertical-align: middle;">
              <div style="float: left;">
                <input type="text" id="openTime"
                       class="timepicker fillAuto bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none">
                <span class="hyphen" style="width: 107px;">ㅡ</span>
                <input type="text" id="closeTime"
                       class="timepicker fillAuto bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none" >
                <input type="text" name="hospital_time" id="hospital_time" hidden>
              </div>
            </div>
          </td>
        </tr>
        <tr class="small">
          <td class="td1">
            <div class="label">
              공지사항
            </div>
          </td>
          <td class="td2">
            <div>
              <input type="text" name="hospital_notice" id="hospital_notice" placeholder="ex) 지하 주차장 1시간 무료"
                     class="fillAuto bg-gray-50 border border-gray-300 rounded-lg focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none">
            </div>
          </td>
        </tr>
        <tr class="medium">
          <td class="td1">
            <div class="label">
              병원 소개글
            </div>
          </td>
          <td class="td2">
            <div>
              <textarea name="hospital_intro" id="hospital_intro" cols="100" rows="7" placeholder="병원 소개를 간단히 작성해주세요."
                        class="memo bg-gray-50 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:ring-1 focus:outline-none"></textarea>
            </div>
          </td>
        </tr>
        <tr class="small">
          <td colspan="2">
            <div class="flex justify-center">
              <input type="submit" value="등록하기"
                    class="mx-px place-items-center bg-blue-500 w-64 h-16 rounded-lg text-white text-4xl font-semibold">
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>
</body>
</html>
<script src="registrationForm.js"></script>


