<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Modal</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2621e7976b749ad3df34ac9d8ecf4d9b&libraries=services,clusterer,drawing"></script>
  <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2621e7976b749ad3df34ac9d8ecf4d9b&autoload=false&libraries=services"></script> -->
  <script src="https://kit.fontawesome.com/9b855eea51.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="icon" href="../static/logo_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="../static/registrationForm.css" />
</head>
<body>
  <button id="openModal" type="button" class="m-10 bg-blue-500 w-48 h-12 rounded-lg text-3xl text-white" >모달 보이기</button>
</body>
</html>
<script type="text/javascript" src="../static/registrationForm.js"></script>