<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Asklepios</title>
  <!-- <link rel="stylesheet" href="../../resources/static/CSS/font.css"> -->
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2621e7976b749ad3df34ac9d8ecf4d9b&libraries=services,clusterer,drawing"></script>
  <!-- <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2621e7976b749ad3df34ac9d8ecf4d9b&autoload=false&libraries=services"></script> -->
  <script src="https://kit.fontawesome.com/9b855eea51.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <link rel="icon" href="logo_icon.png" type="image/x-icon">
  <link rel="stylesheet" href="reservationPlace.css" />
</head>
<body>
<!--   <div th:replace="./include/topinclude.html"></div>-->
  <div id="menu_wrap" class="container">
    <div class="title">
      병원 찾기
    </div>
    <form onsubmit="addressSearch(); return false;">
      <div class="search justify-center items-center">        
        <input type="text" id="search"
        class="w-2/3 h-20 px-3 bg-gray-50 border border-gray-300 rounded-lg text-4xl 
        focus:ring-blue-500 focus:border-blue-500 focus:ring-2 focus:outline-none">
        <button type="button" class="crosshair" onclick="getLocation();">
          <i class="fa-solid fa-location-crosshairs" title="현재 위치"></i>
        </button>
        <button type="submit" class="magnify"><i class="fa-solid fa-magnifying-glass c-blue" title="검색"></i>
        </button>
      </div>
    </form>
    <div class="shopSchList">
      <!-- 매장 리스트 -->
      <div class="list">
        <form action="reserve" method="post">
        <ul  id="hospitalList" class="hospitalList"></ul>
        </form>
        <div id="pagination" class="pagination"></div>
      </div>
        <!-- 지도 -->
      <div>
        <div class="map" id="map"></div>
      </div>
    </div>
  </div>

</body>
</html>
<script type="text/javascript" src="reservationPlace.js"></script>

