<!--  <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=&callback=initMap"></script>-->
<!--  <script type="text/javascript">-->
<!--    var map = null;-->

<!--    function initMap() {-->
<!--      map = new naver.maps.Map('map', {-->
<!--        center: new naver.maps.LatLng(37.3595704, 127.105399),-->
<!--        zoom: 10-->
<!--      });-->
<!--    }-->
<!--  </script>-->
<body>
<aside>
  <th:block th:unless="${user == null}">
    <a href="/asklepios/registration">
      <div class="asideStyle">
        <input type="button" class="asideForm asideButton asideRegistration rounded-lg hover:rounded-lg" value="Registration">
      </div>
    </a>
    <a href="/asklepios/reservation">
      <div class="asideStyle">
        <input type="button" class="asideForm asideButton asideSearchHospital rounded-lg hover:rounded-lg" value="Search Hospital">
      </div>
    </a>
    <div class="asideStyle">
      <input type="button" class="asideForm asideButton asideReservation rounded-lg hover:rounded-lg" value="Reservation" onclick="nope()">
    </div>
    <th:block th:if="${user.user_authority == 'client'}">
      <a href="/asklepios/reservationStatusClient">
        <div class="asideStyle">
          <input type="button" class="asideForm asideButton asideReservationInfo rounded-lg hover:rounded-lg" value="Reservation Info">
        </div>
      </a>
    </th:block>
    <th:block th:if="${user.user_authority == 'doctor'}">
      <a href="/asklepios/reservationStatusDoctor">
        <div class="asideStyle">
          <input type="submit" class="asideForm asideButton asideReservationInfo rounded-lg hover:rounded-lg" value="Reservation Info">
        </div>
      </a>
    </th:block>
  </th:block>
<!--  <div class="asideStyle">-->
<!--    <input type="submit" class="asideForm asideButton asideRegistration rounded-lg hover:rounded-lg" value="Registration">-->
<!--  </div>-->
<!--  <div class="asideStyle">-->
<!--      <input type="submit" class="asideForm asideButton asideSearchHospital rounded-lg hover:rounded-lg" value="Search Hospital">-->
<!--  </div>-->
<!--  <div class="asideStyle">-->
<!--      <input type="submit" class="asideForm asideButton asideReservation rounded-lg hover:rounded-lg" value="Reservation">-->
<!--  </div>-->
<!--  <div class="asideStyle">-->
<!--      <input type="submit" class="asideForm asideButton asideReservationInfo rounded-lg hover:rounded-lg" value="Reservation Info">-->
<!--  </div>-->

<!--  <div id="map" style="width: 100%; height: 400px;"></div>-->
</aside>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
  function nope(){
    alert("예약하기를 통해 진행해주세요.");
  }
</script>