<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Asklepios</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
  aside {
    width: 300px;
  }

  .asideStyle {
    /*border: 1px black solid;*/
    height: 100px;
  }

  .asideForm {
    width: 100%;
    height: 100px;
  }

  .asideButton {
    width: 100%;
    height: 100px;
    background-color: white;
    border-width: 0px 0px 1px;
    font-size: xx-large;
    border-top-right-radius: 20px;
  }

  .asideButton:hover {
    color: white;
    cursor: pointer;
  }

  .asideButton:focus {
    background-color: #3B82F6;
    color: white;
  }
</style>
<body>
<aside style="margin-top:10px;">
  <div class="asideStyle">
    <form action="bboard_health" method="get" class="asideForm">
      <input type="submit" class="asideButton hover:bg-blue-500 hover:rounded-lg hover:text-white" value="Health">
    </form>
  </div>

  <div class="asideStyle">
    <form action="bboard_campaign" method="get" class="asideForm">
      <input type="submit" class="asideButton hover:bg-blue-500 hover:rounded-lg hover:text-white" value="Campaign">
    </form>
  </div>

  <div class="asideStyle">
    <form action="bboard_med" method="get" class="asideForm">
      <input type="submit" class="asideButton hover:bg-blue-500 hover:rounded-lg hover:text-white"
             value="MedicalEquipment">
    </form>
  </div>

  <div class="asideStyle">
    <form action="bboard_free" method="get" class="asideForm">
      <input type="submit" class="asideButton hover:bg-blue-500 hover:rounded-lg hover:text-white" value="FreeBoard">
    </form>
  </div>
</aside>
</body>
</html>
