<body>
<aside>
    <div class="asideStyle" style="margin-top: 10px;">
        <input type="button" class="asideForm asideButton asideList rounded-lg" value="게시글">
    </div>
    <div class="asideStyle">
        <input type="button" class="asideForm asideButton asideQuestion rounded-lg" value="질문하기">
    </div>
    <div class="asideStyle">
        <input type="button" class="asideForm asideButton asideAnswer rounded-lg" value="답변하기">
    </div>
</aside>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
</script>