<body>
<aside>
  <th:block th:unless="${user == null}">
    <div class="asideStyle" style="margin-top: 10px;">
      <input type="button" class="asideForm asideButton asideRegistration rounded-lg hover:rounded-lg" value="병원등록">
    </div>
    <div class="asideStyle">
      <input type="button" class="asideForm asideButton asideSearchHospital rounded-lg hover:rounded-lg" value="병원예약">
    </div>
    <div class="asideStyle">
      <input type="button" class="asideForm asideButton asideReservation rounded-lg hover:rounded-lg" value="진료예약" onclick="reservationFirst()">
    </div>
    <th:block th:if="${user.user_authority == 'client'}">
      <div class="asideStyle">
        <input type="button" class="asideForm asideButton asideReservationInfo rounded-lg hover:rounded-lg" value="예약현황">
      </div>
    </th:block>
    <th:block th:if="${user.user_authority == 'doctor'}">
      <div class="asideStyle">
        <input type="submit" class="asideForm asideButton asideReservationInfo rounded-lg hover:rounded-lg" value="예약현황">
      </div>
    </th:block>
  </th:block>
</aside>
</body>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
  // function reservationFirst(){
  //   alert("예약하기를 통해 진행해주세요.");
  // }
</script>