<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.asklepios.hospitalreservation_asklepios.Repository.IF_UserMapper">
    <select id="selectPwd" parameterType="com.asklepios.hospitalreservation_asklepios.VO.UserVO" resultType="String">
        SELECT user_password
        FROM users
        WHERE user_id = #{user_id}
    </select>

    <select id="selectRegnum" parameterType="String" resultType="String">
        SELECT user_register_number
        FROM users
        WHERE user_name = #{user_name}
    </select>

    <select id="selectId" parameterType="String" resultType="String">
        SELECT user_id
        FROM users
        WHERE user_register_number = #{user_register_number}
    </select>

    <select id="selectAllName" resultType="com.asklepios.hospitalreservation_asklepios.VO.UserVO">
        SELECT user_name
        FROM users
    </select>

    <select id="selectEmail" parameterType="String" resultType="String">
        SELECT user_email
        FROM users
        WHERE user_id = #{user_id}
    </select>

    <update id="updatePwd" parameterType="String">
        UPDATE users
        SET user_password = #{pwd}
        WHERE user_id = #{user_id}
    </update>

    <insert id="insertUserCommonInfo" parameterType="com.asklepios.hospitalreservation_asklepios.VO.UserVO">
        INSERT INTO users
        VALUES (#{user_id}, #{user_password}, #{user_name}, #{user_name_eng}, #{user_register_number}, #{user_tel},
                #{user_addr}, #{user_email}, #{user_authority}, #{user_info_agreement}, #{user_image})
    </insert>

    <select id="duplicateIDCheck" parameterType="String" resultType="String">
        SELECT user_id
        from users
        where user_id = #{user_id}
    </select>

    <select id="duplicateRegisterNumberCheck" parameterType="String" resultType="String">
        SELECT user_register_number
        from users
        where user_register_number = #{user_register_number}
    </select>

    <insert id="insertUserDoctorInfo" parameterType="com.asklepios.hospitalreservation_asklepios.VO.DoctorVO">
        INSERT INTO user_doctor
        VALUES (#{user_doctor_code}, #{user_doctor_id}, #{user_doctor_hospital_code}, #{user_doctor_medical},
                #{user_doctor_career}, #{user_doctor_graduate})
    </insert>

    <select id="selectPwdUsingID" parameterType="String" resultType="String">
        SELECT user_password
        FROM users
        WHERE user_id = #{user_id}
    </select>

    <select id="selectUserByID" parameterType="String"
            resultType="com.asklepios.hospitalreservation_asklepios.VO.UserVO">
        SELECT *
        FROM users
        WHERE user_id = #{user_id}
    </select>

    <select id="selectDoctorByID" parameterType="String"
            resultType="com.asklepios.hospitalreservation_asklepios.VO.DoctorVO">
        SELECT *
        FROM user_doctor
        WHERE user_doctor_id = #{user_doctor_id}
    </select>

    <update id="updateUserCommonInfo" parameterType="com.asklepios.hospitalreservation_asklepios.VO.UserVO">
        UPDATE users
        SET user_password       = #{user_password},
            user_name           = #{user_name},
            user_name_eng       = #{user_name_eng},
            user_tel            = #{user_tel},
            user_addr           = #{user_addr},
            user_authority      = #{user_authority},
            user_info_agreement = #{user_info_agreement},
            user_image          = #{user_image}
        WHERE user_id = #{user_id}
    </update>

    <update id="updateUserDoctorInfo" parameterType="com.asklepios.hospitalreservation_asklepios.VO.DoctorVO">
        UPDATE user_doctor
        SET user_doctor_hospital_code = #{user_doctor_hospital_code},
            user_doctor_medical       = #{user_doctor_medical},
            user_doctor_career        = #{user_doctor_career},
            user_doctor_graduate      = #{user_doctor_graduate}
        WHERE user_doctor_id = #{user_doctor_id}
    </update>

</mapper>
